<h1 id="hp">Photos
  <% if session[:user_id] %>
    <span class="sep">|</span>
    <span style="font-size: .7em;">
      <%= link_to("Add new", new_photo_path) %>
    </span>
  <% end %>
</h1>
<table>
    <% headers = [
        "image",
        "title",
        "taken on",
        "taken in",
        "season",
        "photographer"
    ]
    %>
  <tr>
    <% headers.each do |h| %>
        <th><%= h.capitalize %></th>
    <% end %>
    <% if session[:user_id] %>
      <th>Actions</th>
    <% end %>
  </tr>
  <% @photos.each do |p| %>
    <tr>
      <td><%= image_tag(p.get_image_path, data: { title: 'your title here' }) %></td>
      <td><%= link_to(p.title, photo_path(p)) %></td>
      <td><%= p.date_only %></td>
      <td><%= p.taken_in %></td>
      <td><%= p.season.name %></td>
      <td><%= link_to(p.photographer.name, photographer_path(p.photographer)) %></td>
      <% if session[:user_id] %>
        <td><%= link_to("Edit", edit_photo_path(p)) %>&nbsp;&nbsp;<%= link_to("Delete", delete_photo_path(p)) %></td>
      <% end %>
    </tr>
  <% end %>
<!--
  https://images.unsplash.com/photo-1422207134147-65fb81f59e38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=958&q=80
-->
</table>
